@using Microsoft.AspNet.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ToDoList.Enums.EmunService
@model ToDoList.Views.Task.AllTaskPageViewModel

@{
    ViewBag.Title = "Все задачи";
    Layout = "_Layout";
}
@if (!Model.Tasks.Any())
{
    <h2>Нет активных задач</h2>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col"><a asp-action="AllTask" asp-route-sortState="@Model.TitleSort">Название задачи</a></th>
            <th scope="col"><a asp-action="AllTask" asp-route-sortState="@Model.PrioritySort">Приоритет</a></th>
            <th scope="col"><a asp-action="AllTask" asp-route-sortState="@Model.StateSort">Статус</a></th>
            <th scope="col"><a asp-action="AllTask" asp-route-sortState="@Model.DateSort">Дата создания</a></th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@task.Priority.GetDescription()</td>
                <td>@task.State.GetDescription()</td>
                <td>@task.DateOfCreate</td>
                <td>
                    <div class="row">
                        @switch (task.State.ToString())
                        {
                            case "Open":
                                if (User.IsInRole("admin") || task.ExecutorId == User.Identity.GetUserId())
                                {
                                    <div class="col-auto">
                                        <a class="btn btn-outline-warning" asp-controller="Tasks" asp-action="CloseTask" asp-route-id="@task.Id">Закрыть</a>
                                    </div>
                                }
                                break;
                            case "Close":
                                if (task.ManagerId == User.Identity.GetUserId())
                                {
                                    <div class="col-auto">
                                        <a class="btn btn-outline-danger" asp-controller="Tasks" asp-action="Delete" asp-route-id="@task.Id">Удалить</a>
                                    </div>
                                }
                                break;
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <div class="col-auto">
                                <a class="btn btn-outline-danger" asp-controller="Tasks" asp-action="Delete" asp-route-id="@task.Id">Удалить</a>
                            </div>
                        }
                        <div class="col-auto">
                            <a class="btn btn-info" asp-action="AboutTask" asp-controller="Tasks" asp-route-id="@task.Id">Детали</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    if (Model.Pagination.HasPreviousPage)
    {
        <a  asp-action="AllTask"
            asp-route-currentPage="@(Model.Pagination.PageNumber - 1)"
            class="btn btn-info my-5">
            Назад
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
    }
    if (Model.Pagination.HasNextPage)
    {
        <a  asp-action="AllTask"
            asp-route-currentPage="@(Model.Pagination.PageNumber + 1)"
            class="btn btn-info my-5">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }   
}
