@using ToDoList.Enums
@using ToDoList.Enums.EmunService
@using Microsoft.AspNet.Identity
@model CreateTaskViewModel

@{
    ViewBag.Title = "Добавить задачу";
    Layout = "_Layout";
}

<h2>Добавление новой задачи</h2>
<div class="row">
    <div class="phone_add_form col-md-6">
        <form asp-action="CreateTask" asp-controller="Tasks" method="post">
            <div class="form-group mb-3">
                <label for="title" class="mb-2" asp-for="Title"></label>
                <input asp-for="Title"
                       type="text"
                       class="form-control"
                       id="title"
                       placeholder="Сдать ДЗ #58">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group mb-3">
                <label for="desc" class="mb-2" asp-for="Description"></label>
                <textarea asp-for="Description"
                       type="text"
                       class="form-control"
                       id="desc"
                       placeholder="Сделать 1 задание, 2 задание, 3 задание, ну и конечно необязательную лабу"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <label class="mb-2" asp-for="Priority"></label>
            <select asp-for="Priority" class="form-select" aria-label="Выбор приоритета задачи">
                <option value="@PriorityState.Hi">@PriorityState.Hi.GetDescription()</option>
                <option value="@PriorityState.Midle" selected>@PriorityState.Midle.GetDescription()</option>
                <option value="@PriorityState.Low">@PriorityState.Low.GetDescription()</option>
            </select>
            <input hidden="hidden" type="text" asp-for="ManagerId" value="@User.Identity.GetUserId()">
            <button type="submit" class="btn btn-outline-info mt-3">Создать</button>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
