@using ToDoList.Enums.EmunService
@using Microsoft.AspNet.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model System.Collections.Generic.List<ToDoList.Services.ViewModels.ShortTaskViewModel>

@{
    ViewBag.Title = "Задачи";
    Layout = "_Layout";
}
@if (!Model.Any())
{
    <h2>Нет задач по выбранной категрии</h2>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Название задачи</th>
            <th scope="col">Приоритет</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Title</td>
                    <td>@task.Priority.GetDescription()</td>
                    <td>@task.State.GetDescription()</td>
                    <td>@task.DateOfCreate</td>
                    <td>
                        <div class="row">
                            @switch (task.State.ToString())
                            {
                                case "New":
                                    <div class="col-auto">
                                        <a class="btn btn-outline-info" asp-controller="Tasks" asp-action="OpenTask" asp-route-id="@task.Id">Принять задачу</a>
                                    </div>
                                    break;
                                case "Open":
                                    if (User.IsInRole("admin") || task.ExecutorId == User.Identity.GetUserId())
                                    {
                                        <div class="col-auto">
                                            <a class="btn btn-outline-warning" asp-controller="Tasks" asp-action="CloseTask" asp-route-id="@task.Id">Закрыть</a>
                                        </div>
                                    }
                                    break;
                                case "Close":
                                    if (task.ManagerId == User.Identity.GetUserId())
                                    {
                                        <div class="col-auto">
                                            <a class="btn btn-outline-danger" asp-controller="Tasks" asp-action="CloseTask" asp-route-id="@task.Id">Удалить</a>
                                        </div>
                                    }
                                    break;
                            }
                            @if (User.IsInRole("admin"))
                                {
                                    <div class="col-auto">
                                        <a class="btn btn-outline-danger" asp-controller="Tasks" asp-action="CloseTask" asp-route-id="@task.Id">Удалить</a>
                                    </div>
                                }
                            <div class="col-auto">
                                <a class="btn btn-info" asp-action="AboutTask" asp-controller="Tasks" asp-route-id="@task.Id">Детали</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
